<p>pipes works!</p>

<h2>Date Pipe</h2>
<div>
    <p>Today is {{Day | date}}</p>
    <p>Or if you prefer, {{Day | date:'fullDate'}}</p>
    <p>The time is {{Day | date:'h:mm a z'}}</p>
</div>

<h2>currency pipe</h2>
<div>
    <p>A: {{x | currency}}</p>

    <p>A: {{x | currency:'CAD'}}</p>

    <p>A: {{x | currency:'CAD':'code'}}</p>

    <p>B: {{y | currency:'CAD':'symbol':'4.2-2'}}</p>

    <p>B: {{y | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>

    <p>B: {{y | currency:'CAD':'symbol':'4.2-2':'fr'}}</p>

    <p>B: {{y | currency:'CLP'}}</p>
  </div>

<h2>Percent Pipe</h2>
  <div>
    <p>A: {{x | percent}}</p>

    <p>B: {{y | percent:'4.3-5'}}</p>

    <p>B: {{y | percent:'4.3-5':'fr'}}</p>
  </div>